extends layout
block content
  .container.px-4.py-5
        p.lead 
            | Уникальная научная установка «Коллекция микроорганизмов III и IV групп патогенности НИИВС им И.И.Мечникова» (УНУ Коллекция НИИВС им И.И.Мечникова) создана по решению Ученого совета ФГБНУ НИИВС им. И.И.Мечникова от 04 февраля 2016 г., приказ № 24 от 05 февраля 2016 г., на базе лаборатории микробиологии условно патогенных бактерий Федерального государственного бюджетного научного учреждения «Научно-исследовательский институт вакцин и сывороток им. И.И.Мечникова». По решению ученого совета ФГБНУ НИИВС им. И.И.Мечникова от 14 декабря 2017г., приказ № 316 от 29 декабря 2017 г. в коллекцию НИИВС им И.И.Мечникова были включены вирусы III и IV групп патогенности. Коллекция вирусов создана на базе лаборатории экспериментальной иммунологии отдела вирусологии Федерального государственного бюджетного научного учреждения «Научно-исследовательский институт вакцин и сывороток им. И.И.Мечникова» .
            .row.mb-2
                h4.text-center.py-2 
                    |Коллекционная деятельность ФГБНУ НИИВС им. И.И.Мечникова
                .col-md-4.border-right
                    p
                        |однo из приоритетных направлений в рамках обеспечения биологической безопасности Российской Федерации и направлена на сохранение санитарно-эпидемиологического благополучия населения Российской Федераци
                .col-md-4
                    p
                        | осуществляется в соответствии с действующим законодательством Российской Федерации, распоряжениями Правительства РФ и Федерального агентства научных организаций, Санитарными правилами, Уставом и внутренними распоряжениями ФГБНУ НИИВС им. И.И.Мечникова, и Положением о коллекции.
                .col-md-4
                    p
                        |направлена на сохранение и рациональное использование биологического разнообразия микроорганизмов, используемых или перспективных для использования в области разработки и биотехнологического производства медицинских иммунобиологических препаратов.       
        p
            | Основными задачами УНУ Коллекция НИИВС им. И.И.Мечникова являются:
            ul(style='list-style: square;')
                li
                    | Обеспечение формирования, пополнения, поддержания и учета коллекционного фонда микроорганизмов – возбудителей инфекционных болезней человека и животных и их стандартных образцов.
                li
                    | Сбор, депонирование и централизованное хранение природных и генетически модифицированных штаммов бактерий, грибов и вирусов (включая ПБА  III-IV групп патогенности (биологической опасности), представляющих интерес для практического применения или для проведения научных исследований в области разработки и производства средств диагностики, профилактики и лечения инфекционных болезней человека.
                li
                    | Разработка, внедрение новых технологий и стандартных операционных процедур консервации коллекционных штаммов, обеспечивающих их длительное хранение и поддержание в жизнеспособном и исходном состоянии; совершенствование существующих методов консервации и их адаптации к поддерживаемым видам микроорганизмов.
                li
                    | Выполнение фундаментальных и прикладных исследований для обеспечения научно-исследовательской, образовательной и диагностической деятельности института:
                    ul
                        li 
                            |исследовательской, образовательной, диагностической деятельности;
                        li
                            | номенклатурная ревизия поддерживаемых культур на основе традиционных и современных биохимических и молекулярно-генетических методов исследования;
                        li
                            | таксономические исследования микроорганизмов, направленные на выявление и комплексный анализ новых видов и новых патогенных штаммов, сформированных внутри вида, уточнение их таксономического положения при наличии, атипичного фенотипа и генотипа;
                        li
                            | проведение официальной количественной аттестации патогенности (опасности) вновь выделенных и генетически модифицированных штаммов;
                        li
                            | микробиологическая, молекулярно-генетическая и эпидемиологическая паспортизация природных и генетически измененных коллекционных штаммов микроорганизмов;
                        li
                            | создание панелей типовых и референтных штаммов микроорганизмов, необходимых для научно-исследовательских и производственных работ микробиологического профиля, проведения внешней оценки качества лабораторных исследований, диагностических тест-систем, учебного процесса.
                li
                    | Обеспечение научных лабораторий института, и других учреждений  микробиологического профиля качественными образцами штаммов микроорганизмов, полностью соответствующих заявляемым свойствам.
                li
                    | Выпуск и периодическая актуализация каталогов коллекционных штаммов хранящихся в коллекции в печатном и электронном виде.
                li
                    | Консультативная и научно-методическая помощь по вопросам систематики и номенклатуры, поиску штаммов с необходимыми таксономическими и функциональными характеристиками, а также по процедуре депонирования охраноспособных и авторских штаммов.
                li
                    | Участие в реализации целевых программ при решении задач совершенствования научно-методической базы.
                li
                    | Внедрение современных методов организации труда, ресурсосберегающих технологий, современных научных разработок по профилю практической деятельности института.

