extends layout
block content
  .container.px-4.py-5
      h2.pb-2.border-bottom Коллекция микроорганизмов III и IV групп патогенности НИИВС им И.И.Мечникова
      p.fst-italic
        | Коллекция микроорганизмов III и IV групп патогенности создана на базе лаборатории микробиологии условно патогенных бактерий Федерального государственного бюджетного научного учреждения «Научно-исследовательский институт вакцин и сывороток им. И.И.Мечникова»
      .row.g-4.py-5.row-cols-1.row-cols-lg-3
        .feature.col
          .feature-icon.d-inline-flex.align-items-center.justify-content-center.text-bg-primary.bg-gradient.fs-2.mb-3
            svg.bi.bi-flag-fill(xmlns='http://www.w3.org/2000/svg' width='40' height='40' fill='currentColor' viewBox='0 0 16 16')
              path(d='M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12.435 12.435 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A19.626 19.626 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a19.587 19.587 0 0 0 1.349-.476l.019-.007.004-.002h.001')
            // <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"></use></svg>
          h4.fs-2 Миссия
          p
            | Деятельность Коллекции ФГБНУ НИИВС им. И.И.Мечникова направлена на сохранение и рациональное использование биологического разнообразия микроорганизмов.
        .feature.col
          .feature-icon.d-inline-flex.align-items-center.justify-content-center.text-bg-primary.bg-gradient.fs-2.mb-3
            svg.bi.bi-patch-check-fill(xmlns='http://www.w3.org/2000/svg' width='40' height='40' fill='currentColor' viewBox='0 0 16 16')
              path(d='M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708z')
            // <svg class="bi" width="1em" height="1em"><use xlink:href="#people-circle"></use></svg>
          h3.fs-2 Преимущество
          p
            | Преимущество УНУ Коллекции НИИВС им. И.И.Мечникова связана с уникальностью поддерживаемого коллекционного фонда; материальной и научной базой; выполняемыми функциями, связанными с формированием и поддержанием коллекционного фонда, стандартизацией коллекционных штаммов.
        .feature.col
          .feature-icon.d-inline-flex.align-items-center.justify-content-center.text-bg-primary.bg-gradient.fs-2.mb-3
            //
              <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-virus" viewBox="0 0 16 16">
              <path d="M8 0a1 1 0 0 1 1 1v1.402c0 .511.677.693.933.25l.7-1.214a1 1 0 0 1 1.733 1l-.701 1.214c-.256.443.24.939.683.683l1.214-.701a1 1 0 0 1 1 1.732l-1.214.701c-.443.256-.262.933.25.933H15a1 1 0 1 1 0 2h-1.402c-.512 0-.693.677-.25.933l1.214.701a1 1 0 1 1-1 1.732l-1.214-.7c-.443-.257-.939.24-.683.682l.701 1.214a1 1 0 1 1-1.732 1l-.701-1.214c-.256-.443-.933-.262-.933.25V15a1 1 0 1 1-2 0v-1.402c0-.512-.677-.693-.933-.25l-.701 1.214a1 1 0 0 1-1.732-1l.7-1.214c.257-.443-.24-.939-.682-.683l-1.214.701a1 1 0 1 1-1-1.732l1.214-.701c.443-.256.261-.933-.25-.933H1a1 1 0 1 1 0-2h1.402c.511 0 .693-.677.25-.933l-1.214-.701a1 1 0 1 1 1-1.732l1.214.701c.443.256.939-.24.683-.683l-.701-1.214a1 1 0 0 1 1.732-1l.701 1.214c.256.443.933.261.933-.25V1a1 1 0 0 1 1-1Zm2 5a1 1 0 1 0-2 0 1 1 0 0 0 2 0ZM6 7a1 1 0 1 0-2 0 1 1 0 0 0 2 0Zm1 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2Zm5-3a1 1 0 1 0-2 0 1 1 0 0 0 2 0Z"/>
              </svg>
            svg.bi.bi-list-check(xmlns='http://www.w3.org/2000/svg' width='40' height='40' fill='currentColor' viewBox='0 0 16 16')
              path(fill-rule='evenodd' d='M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3.854 2.146a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 3.293l1.146-1.147a.5.5 0 0 1 .708 0zm0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 7.293l1.146-1.147a.5.5 0 0 1 .708 0zm0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z')
            // <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>
          h3.fs-2 Онлайн-каталог
          p
            | Удобный веб-портал с постоянно пополняющейся коллекцией микроорганизмов. 
            a(href='') Начать работу.
     
