extends layout
block content
  .container.px-4.py-5
        h4.pb-2  
            | Инструкция по работe с культурами бактерий и грибов, высушенными из замороженного состояния под вакуумом
        ol.list-group.list-group-numbered.py-3
            li.list-group-item.d-flex.justify-content-between.align-items-start
                .ms-2.me-auto
                    .fw-bold Культура бактерий, высушенных из замороженного состояния под вакуумом может храниться неопределенно долгое время при сохранении вакуума в ампуле и температуре не выше 10°С.
           
            li.list-group-item.d-flex.justify-content-between.align-items-start
                .ms-2.me-auto
                    .fw-bold Для восстановления жизнеспособности культуры
                    | ампулу с высушенным штаммом вскрывают стерильно над подносом или лотком. Верхний конец ампулы нагревают на пламени горелки и снимают парафин, затем кусочком стерильной ваты, смоченным в стерильной воде, осторожно прикасаются к оттянутому концу ампулы так, чтобы получилась небольшая трещина, и той же мокрой ватой обводят вокруг носика ампулы. После образования трещины легким ударом пинцета удаляют конец ампулы.
           
            li.list-group-item.d-flex.justify-content-between.align-items-start
                .ms-2.me-auto
                    .fw-bold После вскрытия ампулы
                    |в нее стерильно наливают 0,3-0,5 мл жидкой питательной среды, применяемой для выращивания культуры данного вида.
            li.list-group-item.d-flex.justify-content-between.align-items-start
                .ms-2.me-auto
                    .fw-bold После растворения сухого содержимого ампулы
                    |его переносят пастеровской пипеткой в пробирки с жидкой или плотной питательной средой и выращивают при температуре и условиях, оптимальных для культивирования грибов данного вида.
            li.list-group-item.d-flex.justify-content-between.align-items-start
                .ms-2.me-auto
                    .fw-bold Для восстановления полной жизнеспособности
                    |В первых посевах микробы обладают несколько пониженной жизнеспособностью. Для восстановления полной жизнеспособности требуется 2-3 пассажа на питательных средах, соответствующих потребностям грибов данного вида. Рекомендуется пользоваться для работы культурой после второго или третьего пересева.



